.box{
    width:100%;
    height:auto;
}
.left{
    background: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3), 0 0 6px rgba(0, 0, 0, .1);
}
.header{
    height:85px !important;
    padding: 0;
    background: #409eff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3), 0 0 6px rgba(0, 0, 0, .1);
    position: relative;
}
.logo{
    width:250px;
    height:100%;
    display: inline-block;
    vertical-align: middle;
}
.logo img{
    width:265px;
    height:auto;
}
.h-navigation{
    width:40%;
    height: 100%;
    display:inline-block;
    margin-left:100px;
    vertical-align: middle;
}
.h-navigation ul{
    width:100%;
    height:100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.h-navigation ul li{
    display: inline-block;
    width:100px;
    height:100%;
    box-sizing: border-box;
    vertical-align: middle;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3), 0 0 6px rgba(0, 0, 0, .1);
    margin-left: 3px;
    padding:0;
    background: #0f0fad96;
    cursor: pointer;
}
.h-navigation ul li:hover{
    transition: all 0.3s;
    background: #409eff;
}
.ht-icon{
    width:60px;
    height:50px;
    margin:5px 0 0 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 50px;
    color:white;
}
.ht-sign{
    width:100%;
    height: auto;
    margin: 0%;
    text-align: center;
    font-size: 17px;
    color: #fff;
}
.ht-sign p{
    margin: 5px auto 0 auto;
}
.tagTitle{
    width:100%;
    height:30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 0 6px rgba(0, 0, 0, .05);
}
.content{
    display:flex;
    
    flex-direction: column;
}
.tagView{
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 0 6px rgba(0, 0, 0, .05);
}
.indexTag{
    cursor: pointer;
    margin:0 3px 0 3px;
    background: #409eff !important;
    color: #ffffff;
}
.tagFocus{
    color:#409eff ;
    background:#ffffff !important;
}
.h-userMsg{
    display: inline-block;
    width:300px;
    height:100%;
    vertical-align: middle;
    position: absolute;
    top:0;
    right:0;
}
.hu-content{
    width:280px;
    height:63px;
    display:inline-block;
    margin-left:0px;
    margin:11px 0 11px auto;
    float: left;
    position: relative;
}
.hu-userName{
    width: 70%;
    height:50%;
    position: absolute;
    top:0;
    left:0;
    line-height:31.5px;
    color:#0f10ae;
}
.hu-userRole{
    width: 70%;
    height:50%;
    position: absolute;
    bottom:0;
    left:0;
    line-height:31.5px;
   color:#0f10ae;
}
.hu-loginOut{
    width: 30%;
    height:100%;
    position: absolute;
    top:0;
    right:0;
    text-align: center;
    line-height: 63px;
    color:#0f10ae;
    cursor: pointer;
}
