#box{
    height:100%;
    width:100%;
    background: #ededed;
    position:relative;
}
.loginBox{
    width:400px;
    height:250px;
    background:red;
    position: absolute;
    margin: auto;
    left:0;
    right:0;
    bottom:0;
    top:0;
    box-shadow: 1px 1px 10px #909399;
    background: #fff;
    padding:10px;
}
.Ltitle{
    width:100%;
    height:30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #409eff;
    text-shadow: 0 0 1px #409eff;
    margin-bottom:15px;
}
.LHeight{
    margin-top: 20px;
}
.Lrest{
    float:right;
    margin-right:50px;
}
.Lsubmit{
    margin-left:50px;
}
